* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

#content::-webkit-scrollbar {
  display: none;
}

a.active {
  color: #ea580c;
}

.user-content-container {
  margin-top: 74px;
  height: calc(100vh - 74px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
